@use 'colors' as colors;

.button {
    position: relative;
    display: inline-block;
    padding: 7px 12px;
    margin: 0;
    width: auto;
    font-family: "Arial";
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 400;
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
    text-align: left;
    letter-spacing: 2px;
}

.button:after {
    content: '';
    position: absolute;
    z-index: -1;
}

/** Colours **/

.button {
    background: none;
    border: 2px solid colors.$button-border;
    color: colors.$button-color !important;
}

.button:hover {
    background: colors.$button-hover-background;
    color: colors.$button-hover-color !important;
}

.button:active {
    top: 2px;
}

