@use 'sass:color';


// Colors and tints
$gray-45:                             #2d2d2d;
$gray-60:                             #999999;
$gray-90:                             #e5e5e5;
$white:                               #ffffff;

$nord-0:                              #2e3440; // Polar Night
$nord-1:                              #3b4252;
$nord-2:                              #434c5e;
$nord-3:                              #4c566a;
$nord-4:                              #d8dee9; // Snow Storm
$nord-5:                              #e5e9f0;
$nord-6:                              #eceff4;
$nord-7:                              #8fbcbb; // Frost
$nord-8:                              #88c0d0;
$nord-9:                              #81a1c1;
$nord-10:                             #5e81ac;
$nord-11:                             #bf616a; // Aurora
$nord-12:                             #d08770;
$nord-13:                             #ebcb8b;
$nord-14:                             #a3be8c;
$nord-15:                             #b48ead;


// Palette
$primary:                             $nord-0;
$secondary:                           $nord-7;
$text-fg:                             $nord-0;
$text-bg:                             $white;
$menu-fg:                             $white;
$menu-bg:                             $primary;
$hl-fg:                               $primary;
$hl-bg:                               $secondary;


// Styles
$hr:                                  $primary;
$blockquote-background:               $gray-90;
$blockquote-border:                   $text-fg;
$blockquote-color:                    $hl-fg;
$blockquote-author-color:             $gray-60;

$button-border:                       $text-fg;
$button-color:                        $text-fg;
$button-hover-background:             $hl-bg;
$button-hover-border:                 $hl-bg;
$button-hover-color:                  $hl-fg;

$menu-color:                          $menu-fg;
$menu-background:                     $menu-bg;
$menu-hover-background:               $hl-bg;
$menu-hover-color:                    $hl-fg;
$menu-button-border:                  $menu-fg;
$menu-button-color:                   $menu-fg;
$menu-button-hover-background:        $hl-bg;
$menu-button-hover-color:             $hl-bg;
$menu-item-mobile-background:         $menu-bg;
$menu-item-mobile-color:              $menu-fg;
$menu-item-mobile-hover-background:   $hl-bg;
$menu-item-mobile-hover-color:        $hl-fg;
$menu-button-mobile-hover-background: $hl-bg;
$menu-button-mobile-hover-border:     $hl-bg;
$menu-button-mobile-hover-color:      $hl-fg;

$code-background:                     $gray-45;
$code-color:                          $gray-60;

$body-background:                     $text-bg;
$body-color:                          $text-fg;

$selection-background:                $hl-bg;
$selection-color:                     $hl-fg;

$link-background:                     none;
$link-color:                          $text-fg;
$link-visited-color:                  color.scale($link-color, $lightness: 60%);
$link-hover-background:               $hl-bg;
$link-hover-color:                    $hl-fg;

$left-background:                     $menu-bg;
$left-color:                          $menu-fg;
