@use 'colors' as colors;


#menucont {
  .menu {
    margin: 0;

    li {
      float: left;
      list-style-type: none;
      padding: 0;
      position: relative;
      width: 100%;

      a {
        color: colors.$menu-color;
        float: left;
        font-weight: 300;
        letter-spacing: 2px;
        line-height: 22px;
        margin: 0;
        padding: 10px 20px;
        text-decoration: none;
        text-transform: uppercase;
        width: 100%;

        &:hover {
          background: colors.$menu-hover-background;
          color: colors.$menu-hover-color;
        }
      }
    }
    
    li.active a,
    li.active a:hover {
      background: colors.$menu-hover-background;
      color: colors.$menu-hover-color;
      font-weight: 600;
    }
  }

  .menutitle {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  #menucont {
    .menu {
      display: none;
      margin: 0;

      &.open {
        display: block;
      }

      li {
        float: none;
        position: relative;

        a {
          background: colors.$menu-item-mobile-background;
          color: colors.$menu-item-mobile-color;
          display: inline-block;
          font-weight: 300;
          line-height: 23px;
          margin: 0;
          padding: 5px 0;
          text-indent: 0;
          text-transform: uppercase;
          width: 100%;
        }
      }

      li,
      ul li {
        display: block;
      }

      a,
      a:hover {
        background: colors.$menu-item-mobile-hover-background;
        color: colors.$menu-item-mobile-hover-color;
      }

      &.active a,
      &.active a:hover {
        font-weight: 600;
      }

      li:last-child a {
        margin: 0 0 20px 0;
      }
    }

    .menutitle {
      color: colors.$menu-color;
      cursor: pointer;
      display: block;
      display: block;
      padding: 12px 42px 12px 0;
      text-align: left;
      text-transform: uppercase;
      width: 100%;

      p {
        margin-bottom: 0;
      }

      #menu-button {
        border: 2px solid colors.$menu-button-border;
        color: colors.$menu-button-color;
        cursor: pointer;
        font-size: 18px;
        font-weight: 300;
        letter-spacing: 2px;
        padding: 7px 12px;

        &:hover {
          background: colors.$menu-button-mobile-hover-background;
          border-color: colors.$menu-button-mobile-hover-border;
          color: colors.$menu-button-mobile-hover-color;
        }
      }

      span {
        font-size: 20px;
        margin: 0;
      }
    }
  }
}
