@use "sass:color";
@use "_colors" as colors;
@use "reset";
@use "typography";
@use "menu";
@use "buttons";

/**
 * Global
 */
* {
  box-sizing: border-box;
}

pre code {
  background: colors.$gray-45;
  color: colors.$gray-60;
  display: block;
  overflow-x: auto;
  padding: 0.5em;
}

html {
  -webkit-font-smoothing: antialiased;
  height: 100%;
  overflow: auto;
}

body {
  background: colors.$text-bg;
  color: colors.$text-fg;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 12pt;
  font-weight: 400;
  line-height: 28px;
  text-rendering: optimizelegibility;
  vertical-align: baseline;
}

::selection {
  background: colors.$hl-bg;
  color: colors.$hl-fg;
}

a {
  background: none;
  color: colors.$text-fg;

  &:visited {
    color: color.scale(colors.$text-fg, $lightness: 60%);
  }

  &:hover {
    background: colors.$hl-bg;
    color: colors.$hl-fg;
  }
}

a.block-link {
  display: block;
  font-size: 1.2em;
  margin: 10px 0;
  padding: 5px 0;
}

/**
 *Layout
 */
.bodycontainer {
  margin: 0 auto;
  max-width: 1000px;
  width: 100%;
}

.pagination {
  display: block;

  a {
    padding: 5px 15px;
  }

  .left {
    float: left;
  }

  .right {
    float: right;
  }
}

#left {
  -webkit-overflow-scrolling: touch;
  background: colors.$menu-bg;
  bottom: 0;
  color: colors.$menu-fg;
  left: 0;
  max-width: 280px;
  overflow-y: auto;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
}

#logo {
  margin: 0 0 20px;

  a {
    color: colors.$menu-fg;
    display: block;
    float: left;
    margin: 0 0 20px;
    padding: 30px 20px;
    width: 100%;

    &:hover {
      background: colors.$hl-bg;
      color: colors.$hl-fg;
    }

    span.text {
      float: left;
      font-family: Arial, sans-serif;
      font-size: 30px;
      font-weight: 700;
      line-height: 30px;
      text-transform: uppercase;
      width: 100%;
    }

    span.text.description {
      font-size: 12pt;
    }
  }
}

#right {
  max-width: 1240px;
  padding: 40px 50px 40px 320px;
  width: 100%;
  z-index: 2;
}

article {
  margin: 15px 0 20px;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

article .post-header h2 {
  font-size: 36px;
  font-weight: 700;
  letter-spacing: -1px;
  line-height: 42px;
  margin: 0 0 10px;
}

@media screen and (max-width: 768px) {
  #left {
    max-width: 200px;
  }

  #right {
    padding: 20px 20px 20px 230px;
  }
}

@media screen and (max-width: 480px) {
  #left {
    left: 0;
    max-width: 100%;
    padding: 20px;
    position: relative;
    top: 0;
    width: 100%;

    #logo a {
      padding: 0;
    }
  }

  #right {
    left: 0;
    max-width: 100%;
    padding: 30px 20px;
    position: relative;
    top: 0;
    width: 100%;
  }
}
