<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"><![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"><![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"><![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"><!--<![endif]-->
<head>
    <meta charset="UTF-8">
    <title>{{title}}{% block subtitle %}{% endblock %}</title>
    {% block meta %}
    <meta name="description" content="{{description}}">
    <meta name="keywords" content="">
    {% endblock %}
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link rel="icon" href="/img/favicon-32.png" sizes="32x32">
    <link rel="icon" href="/img/favicon-57.png" sizes="57x57">
    <link rel="icon" href="/img/favicon-76.png" sizes="76x76">
    <link rel="icon" href="/img/favicon-96.png" sizes="96x96">
    <link rel="icon" href="/img/favicon-128.png" sizes="128x128">
    <link rel="icon" href="/img/favicon-192.png" sizes="192x192">
    <link rel="icon" href="/img/favicon-228.png" sizes="228x228">
    <link rel="shortcut icon" href="/img/favicon-196.png" sizes="196x196">
    <link rel="apple-touch-icon" href="/img/favicon-120.png" sizes="120x120">
    <link rel="apple-touch-icon" href="/img/favicon-152.png" sizes="152x152">
    <link rel="apple-touch-icon" href="/img/favicon-180.png" sizes="180x180">
    <!--[if IE]><![endif]-->
    {% style "css/styles.css" %}
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.7.0/styles/tomorrow-night-eighties.min.css">
    <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <script src="/js/highlight.pack.js" defer></script>
    <script src="/js/scripts.js" defer></script>
</head>
<body>

<div id="left">

    <p id="logo">
        <a title="{{title}}" href="{{index-uri}}">
            <span class="text">{{title}}</span>
            <span class="text description">{{description}}</span>
        </a>
    </p>

    <nav id="menucont" class="bodycontainer clearfix">
        <div class="menutitle">
            <div id="menu-button-container"><span id="menu-button">Menu</span></div>
        </div>
        <ul class="menu">
            <li {% if home %} class="active" {% endif %}><a title="Home" href="{{index-uri}}">Home</a></li>
            <li {% if archives %} class="active" {% endif %}><a title="Archives" href="{{archives-uri}}">Archives</a></li>
            {% if tags|not-empty %}
            <li {%ifequal uri tags-uri %} class="active" {% endifequal %}><a title="Tags" href="{{tags-uri}}">Tags</a></li>
            {% endif %}
            {% for nav-page in navbar-pages %}
            <li {%ifequal page.uri nav-page.uri %} class="active" {% endifequal %}>
                <a href="{{nav-page.uri}}">{{nav-page.title}}</a>
            </li>
            {% endfor %}
            <li><a title="RSS" href="{{rss-uri}}">RSS</a></li>
        </ul>
    </nav>

</div>

<div id="right" class="clearfix">
    {% block content %}
    {% endblock %}
    <hr/>
    <footer id="footercont" class="clearfix">
        Copyright &copy; {{today|date:yyyy}} {{author}}
        <p>Powered by <a href="http://cryogenweb.org">Cryogen</a></p>
    </footer>
</div>

{% if post.klipse %} {{post.klipse|safe}} {% endif %}
{% if page.klipse %} {{page.klipse|safe}} {% endif %}
</body>
</html>
