{% extends "/html/base.html" %}
{% block content %}
<div id="post">
  {% for post in posts %}
  <article class="clearfix">
    <div class="post-header">
      <h1>{{post.title}}</h1>
      <div class="post-meta">
        {% if post.author %}<div class="author">{{post.author}}</div>{% endif %}
        <strong>{{post.date|date:longDate}}</strong>
      </div>
    </div>
    <div class="post-description">
    {{post.description|safe}}
    </div>
    <a class="block-link" href="{{post.uri}}">Continue reading...</a>
    <hr />
  </article>
  {% endfor %}
</div>

<nav class="pagination clearfix" aria-label="pagination">
  {% if prev-uri %}
  <a class="left block-link" href="{{prev-uri}}">&laquo; Prev</a>
  {% endif %}
  {% if next-uri %}
  <a class="right block-link" href="{{next-uri}}">Next &raquo;</a>
  {% endif %}
</nav>
{% endblock %}
